@import "reset.css";
@import "general.css";
@import "colors.css";

/* Home */
.my-container {
    max-width: 1170px;
    margin: 0 auto;
}
/* Header */

.searchbar {
    background-color: lightgrey;
}

/* Fine Header */

/* Main */
main {
    display: flex;
}

aside {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 70px);
    align-items: center;
}

aside nav ul li {
    list-style: none;
}

aside nav ul {
    padding: 0;
}

aside nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
}

.first-section {
    width: 100%;
    height: 100%;
    background-color: #1b72e8;
}

/* Fine Main */










/* Debug */

.debug-aside {
    width: 100px;
    background-color: lightcoral;
}








/* MEDIAQUERY FOR RESPONIVE */

/* Desktop-First */

/* DESKTOP */
/* @media screen and (max-width: 992px) {
    
} */

/* TABLET */
/* @media screen and (max-width: 768px) {
    
} */

/* MOBILE PICCOLO */
/* @media screen and (max-width: 576px) {

} */



/* Mobile-First */

/* MOBILE PICCOLO */
/* @media screen and (min-width: 576px) {

} */

/* TABLET */
/* @media screen and (min-width: 768px) {
    
} */

/* DESKTOP */
/* @media screen and (min-width: 992px) {
    
} */


